
h1 {
    text-align: center;
    color: blue;
    font-size: 50px;
}

h2 {
    text-align: center;
    color: red;
    font-size: 30px;
}

.table-1, .table-2, .table-3{
    width: 800px;
    height: 150px;
    border: 5px solid black;
    border-collapse: collapse;
    margin: auto;
    margin-top: 30px;
}

tr, td {
    background-color: rgba(196, 196, 196, 0.941);
    border: 5px solid black;
    border-collapse: collapse;
    font-size: 30px;
    color: maroon;
    
}

#linha-1, #linha-4, #linha-6, #linha-7, #linha-9{
    text-align: left;
}

#linha-2, #linha-5, #coluna-1, #linha-8 {
    text-align: center;
}

#linha-3 {
    text-align: right;
}

